/* Общий свойства */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@font-face {
  font-family: "Bebas Neue Bold";
  src: url(../font/ofont.ru_Bebas\ Neue.ttf);
}
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F2F2;
}
h2, h3, p{
  color: #48555B;
}
.text-h5 {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.wrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

/* Header */
.header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 76px;
  background-size: cover;
  background-position: center center;
}
.header_logo {
  margin-bottom: 302px;
}
.header_title_2 {
  font-family: "Bebas Neue Bold";
  font-weight: 300;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5.70937px;
  line-height: 70px;
}
.header-p {
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.3px;
  margin-bottom: 223px;
}
.header-h5 {
  line-height: 13px;
  letter-spacing: 3.7px;
  font-weight: 600;
}
/* meny */
.story, .meny, .services {
  background-color: #fff;
}
.meny {
  border-bottom: 1px solid #E6E6E6;
}
.meny_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 23px;
}
.meny_item {
  list-style: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.09091px;
  font-size: 12px;
}
.meny_item li {
  margin-right: 32px;
}
.meny_item li:last-child {
  margin: 0;
}
.meny_item li:hover {
  color: #00A4E5;
  cursor: pointer;
}
/* Our story */
.title_2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.30625px;
}
.story_title_2 {
  padding: 54px 0;
  text-align: center;
}
.title_2::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  display: block;
}
.story_title_2::after {
  margin: 10px auto 0;
}
.story_inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 118px;
}
.story_left {
  max-width: 405px;
}
.story_title_3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1875px;
  margin-bottom: 34px;
}
.accent_color {
  color: #16ACE8;
}
.text-p {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1875px;
  line-height: 23px;
}
.story_right {
  display: flex;
  align-items: end;
}
.story_item {
  padding: 15px;
  margin-right: 20px;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  background-repeat: no-repeat;
  width: 140px;
  height: 224px;
}
.story_item:nth-child(1) {
  background-image: url(../img/we-plan.png);
}
.story_item:nth-child(2) {
  background-image: url(../img/we-manage.png);
}
.story_item:nth-child(3) {
  background-image: url(../img/we-build.png);
  margin-right: 0;
}
/* Our capabilities (service) */
.services_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}
.services_title_2{
  margin-right: 117px;
}
.services_title_2::after {
  margin-top: 10px;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #00A4E5;
  border: none;
  padding: 11px 29px;
}
.btn:hover {
  cursor: pointer;
}
.services_bottom_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.services_item {
  margin-bottom: 115px;
  padding: 38px 22px 18px 20px;
  border: 1px solid #E6E6E6;
}
.item_img {
  margin-bottom: 20px;
}
.item_h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.item_p {
  margin-bottom: 18px;
}
.top-p {
  width: 405px;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-weight: 400;
}
/* раздел get-in-touch */
.get-in-touch {
  padding-top: 116px;
  padding-bottom: 231px;
  background-image: url(../img/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.get-in-touch_h3 {
  font-size: 30px;
  letter-spacing: 0.15px;
  font-weight: bold;
  line-height: 36px;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}
.get-in-touch_btn {
  display: block;
  margin: 0 auto;
}
/* Раздел newsletter signup */
.signup {
  background-color: #171819;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.signup_p {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.846154px;
  color: #fff;
  margin-right: 70px;
}
.signup_input {
  width: 250px;
  height: 40px;
  padding-left: 15px;
}
/* footer */
.footer_inner {
  background-color: #141A20;
  padding-top: 42px;
  padding-bottom: 40px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.company {
  width: 250px;
}
.company_h5 {
  font-weight: 400;
  letter-spacing: 0.846154px;
  margin-bottom: 19px;
}
.footer_logo {
  margin-bottom: 15px;
}
.footer_p {
  color: #fff;
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.85px;
}
.links_h5 {
  margin-bottom: 10px;
}
.links_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
}
.links_list {
  list-style: none;
}
.links_list li {
  margin-bottom: 10px;
}
.links_list li:last-child{
  margin-bottom: 0;
}
.contact {
  margin-right: 6px;
}
.contact_h5 {
  margin-bottom: 15px;
}
.contact_list {
  list-style: none;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846154px;
}
.name_tel {
  margin-bottom: 15px;
}
.socials {
  padding-top: 25px;
  margin-right: 26px;
}
.socials img {
  margin-right: 25px;
}
.socials img:last-child {
  margin-right: 0;
}
/* footer_copyright */
.footer_copyright {
  text-align: center;
  background-color: #171819;
  padding: 22px 0;
}
.footer_copyright p {
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.846154px;
  font-weight: 400;
}
/* медиа запросы для адаптивной вёрстке */
@media (max-width: 990px) {
  .story, .meny, .services, .footer_inner {
    padding: 0 10px;
  }
  .story_inner {
    display: block;
  }
  .story_left {
    margin: 0 auto;
  }
  .story_right {
    justify-content: center;
  }
  .left_p {
    margin-bottom: 20px;
  }
  .services_top {
    display: block;
  }
  .services_title_2 {
    margin: 0 auto;
    text-align: center;
  }
  .services_title_2::after {
    margin: 0 auto;
  }
  .top-p {
    margin: 0 auto;
  }
  .services_btn {
    position: relative;
    left: 50%;
  }
  .services_bottom_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .flex-container {
    display: block;
  }
  .links_item {
    display: flex;
  }
}