/* Общий свойства */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@font-face {
  font-family: "Bebas Neue Bold";
  src: url(../font/ofont.ru_Bebas\ Neue.ttf);
}
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h2, h3, h4, h5 p{
  color: #48555B;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */
.header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 768px;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
}
.header_logo {
  margin-bottom: 302px;
}
.header_title_2 {
  font-family: "Bebas Neue Bold";
  font-weight: 300;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5.70937px;
  line-height: 70px;
}
.header-p {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.3px;
  margin-bottom: 223px;
}
.header-h5 {
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}
/* Our story */
.story {
  margin-bottom: 118px;
}
.story_title_2 {
  padding: 50px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.story_title_2::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  display: block;
  margin: 10px auto 0;
}
.story_inner {
  display: flex;
  justify-content: center;
}
.story_left {
  max-width: 405px;
  margin-right: 75px;
}
.story_title_3 {
}
.accent_color {
}
.story_text {
}
.story_right {
  display: flex;
  align-items: end;
}
.story_item {
  padding: 15px;
  margin-right: 20px;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  background-repeat: no-repeat;
  width: 140px;
  height: 224px;
}
.story_item:nth-child(1) {
  background-image: url(../img/we-plan.png);
}
.story_item:nth-child(2) {
  background-image: url(../img/we-manage.png);
}
.story_item:nth-child(3) {
  background-image: url(../img/we-build.png);
  margin-right: 0;
}
